<div class="lf-content">

  {{#if items.length}}
    <div class="lf-list">
      {{#each items}}
        <div class="lf-row" data-object-id="{{this.id}}">
          <img class="lf-img" src="{{this.img}}" title="{{this.name}}"/>
          <div class="lf-info">
            <span class="lf-name">{{this.name}}</span>
            <span class="inventory-tag inventory-tag--{{this.category}}">{{this.category}}</span>
          </div>
          <div class="lf-controls">
            {{#if ../myInvestigators.length}}
              <select class="lf-inv-select">
                {{#each ../myInvestigators}}
                  <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
              </select>
              <button type="button" class="inv-btn" data-action="recoverToInvestigator" data-object-id="{{this.id}}" title="Recover to investigator">&#8594;</button>
            {{/if}}
            {{#if ../isGM}}
              <button type="button" class="inv-btn inv-btn--box" data-action="recoverToBox" data-object-id="{{this.id}}" title="Move to Evidence Box">&#128218;</button>
            {{/if}}
            <button type="button" class="inv-btn" data-action="examineItem" data-object-id="{{this.id}}" title="Examine">&#128269;</button>
            {{#if ../isGM}}
              <button type="button" class="inv-btn inv-btn--drop" data-action="destroyItem" data-object-id="{{this.id}}" title="Destroy">&#128465;</button>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  {{else}}
    <p class="lf-empty">Nothing has gone missing.</p>
  {{/if}}

</div>
