
<div class="investigator-sheet"> 

    <div class="folder-shell">

        <div class="folder-close" data-action="closeFolder">CLOSE</div>

        <div class="page-stack">
          {{#each pagesData as |page|}}
            <section class="page {{this.state}} {{this.type}}" data-index="{{this.index}}">
              
              {{#if (eq page.index 0)}}

                <div class="front">
                  <div class="folder-front draggable" ></div>
                  <div class="top-secret-stamp">TOP SECRET</div>
                  <div class="folder-label" data-action="nextPage">{{@root.actor.name}}</div>
                  <div class="open-folder-hitbox">OPEN</div>
                </div>

                <div class="back">
                  <div class="folder-back draggable"></div>
                    <div class="photo-background">
                      <div>
                        <img class="profile-picture" style="position: absolute; left: 7.5%; top: 7.5%; cursor: pointer;" data-action="changePortrait" src="{{@root.portraitSrc}}"/>
                        <img style="position: absolute; width: 20%; top: -34px; right: 5px; transform: rotateZ(-40deg);" src="systems/red-thread/assets/images/paperclip-front.png"/>
                      </div>
                    </div>
                    <input type="file" accept="image/*" data-action="upload-portrait"/>
                </div>
              {{/if}}

              {{#if (eq page.index 1)}}

                <div class="page-spine draggable"></div>

                <div class="front">
                  <section class="">
                    <label style="top: 50px; color:black; padding: 20px; text-align: center; font-family: "Special Elite";">Ministry of Paranormal & Occult Security</label>
                    <h3 style="padding-left: 20px; color: black; font-family: "Special Elite"">INVESTIGATOR DOSSIER</h3>
                    <img style="position: absolute; width: 200px; height: 200px; left: 25%; top: 33%; opacity: 15%;" src="systems/red-thread/assets/images/Coven-trans.png"/>
                    <div class="page-corner prev-page" data-action="prevPage"></div>
                    <div class="page-corner next-page" data-action="nextPage"></div>
                  </section>
                </div>

                <div class="back">
                  <section class="">
                    <p>Back of page {{this.index}}</p>
                  </section>

                </div>
              {{/if}}
                            
              {{#if (eq page.index 2)}}
              
                <div class="page-spine draggable"></div>

                <div class="front">
                  <section class="">
                <!-- PAGE 1 — PROFILE -->
                  <section class="profile-sections" style="padding-top: 5px;">
                    <label class="profile-heading">Investigator Profile:</label>
                    <div class="profile-label" style="margin-top: 5px">
                      <label for="first" style="min-width: 120px">First Name</label>
                      <label for="second" style="min-width: 120px">Last Name</label>
                      <label for="third" style="min-width: 40px;">Age</label>
                      <label for="forth" style="min-width: 40px">Sex</label>
                    </div>

                    <input class="profile-input" style="width: 120px" type="text" data-field="system.investigator.firstname" value="{{@root.system.investigator.firstname}}"/>
                    <input class="profile-input" style="width: 120px" type="text" data-field="system.investigator.lastname" value="{{@root.system.investigator.lastname}}"/>
                    <input class="profile-input" style="width: 39px; text-align: center; transform: translateY(-2px); padding-bottom: 5px;" type="text" data-field="system.investigator.age" value="{{@root.system.investigator.age}}" />
                    <input class="profile-input" style="width: 39px; text-align: center;" type="text" data-field="system.investigator.sex" value="{{@root.system.investigator.sex}}" />

                    <div class="profile-label" style="margin-top: 1px">
                      <label for="first" style="width: 120px">Occupation</label>
                      <label for="second" style="width: 100px">Residence</label>
                      <label for="third" style="width: 100px">Birthplace</label>
                    </div>
                    
                    <input class="profile-input" style="width: 120px" type="text" data-field="system.investigator.occupation" value="{{@root.system.investigator.occupation}}" />
                    <input class="profile-input" style="width: 100px" type="text" data-field="system.investigator.residence" value="{{@root.system.investigator.residence}}" />
                    <input class="profile-input" style="width: 100px" type="text" data-field="system.investigator.birthplace" value="{{@root.system.investigator.birthplace}}" />
                  </section>
                  <section class="profile-sections">
                    <label class="profile-label" style="margin-top: 0px">Appearance and Traits:</label>
                    <textarea class="profile-textarea" data-field="system.investigator.appearance">{{@root.system.investigator.appearance}}</textarea>
                  </section>
                  <section class="profile-sections">
                    <label class="profile-label">Ideology and Beliefs:</label>
                    <textarea class="profile-textarea" data-field="system.investigator.ideology">{{@root.system.investigator.ideology}}</textarea>
                  </section>
                  <section class="profile-sections">
                    <label class="profile-label">Scars and disorders:</label>
                    <textarea class="profile-textarea" data-field="system.investigator.disorders">{{@root.system.investigator.disorders}}</textarea>
                  </section>
                  <section class="profile-sections">
                    <label class="profile-label">Significant persons / locations / items:</label>
                    <textarea class="profile-textarea" data-field="system.investigator.significant">{{@root.system.investigator.significant}}</textarea>
                  </section>
                  <section class="profile-sections">
                    <label class="profile-label">Strange Encounters:</label>
                    <textarea class="profile-textarea" data-field="system.investigator.encounters">{{@root.system.investigator.encounters}}</textarea>
                  </section>
                  <div class="page-corner prev-page" data-action="prevPage"></div>
                  <div class="page-corner next-page" data-action="nextPage"></div>
                </section>
                </div> 

                <div class="back">
                  <section class="profile-sections" style="padding-top: 10px">
                    <label class="profile-label">History:</label>
                    <textarea class="profile-textarea" style="height: 500px" data-field="system.investigator.backstory">{{@root.system.investigator.backstory}}</textarea>
                  </section>
                </div> 

              {{/if}}
              {{#if (eq page.index 3)}}
              
                <div class="page-spine draggable"></div>

                <div class="front">
                  <section class="">
                    <!-- PAGE 2 — Stats and Attributes -->
                    <section class="characteristics" style="width: 200px">
                      <label class="profile-heading">Characteristics</label>
                      {{#each system.characteristics as |stat key|}}
                        {{#if stat.value}}
                          <div class="stat">
                            <label>{{key}}</label>
                            <input type="number" name="system.characteristics.{{key}}.value" value="{{stat.value}}" />
                            <label>{{stat.half}}</label>
                            <label>{{stat.fifth}}</label>
                          </div>
                        {{/if}}
                      {{/each}}
                    </section>

                    <section class="attributes" style="width: 150px; display: inline-block;">
                      <div>
                        <label class="profile-heading" style="text-align: center;">Attributes</label>
                        
                        <div style="display:inline-block;">
                          <div style="gap: 20px">
                            <label style="width: 100px;">Hit Points</label>
                          </div>
                          <div>
                            <input class="profile-input" style="width: 50px" type="number" name="system.characteristics.hp.value" value="{{system.characteristics.hp.value}}" />
                            <input class="profile-input" style="width: 50px" type="number" name="system.characteristics.hpmax.value" value="{{system.characteristics.hpmax.value}}" />
                          </div>
                          <div style="font-size: x-small; height: 20px">
                            <label style="width: 50px; margin: 0px;">(Current)</label>
                            <label style="width: 50px; margin: 0px;">(Max)</label>
                          </div>
                        </div>

                        <div>
                          <div>
                            <label style="width: 100px;">Magic Points</label>
                          </div>
                          <div>
                            <input class="profile-input" style="width: 50px" type="number" name="system.characteristics.currentmag.value" value="{{system.characteristics.currentmag.value}}" />
                            <input class="profile-input" style="width: 50px" type="number" name="system.characteristics.maxmag.value" value="{{system.characteristics.maxmag.value}}" />
                          </div>
                          <div style="font-size: x-small; height: 20px; text-align: center;">
                            <label style="width: 50px; margin: 0px;">(Current)</label>
                            <label style="width: 50px; margin: 0px;">(Max)</label>
                          </div>
                        </div>
                      </div>

                      <div>
                        <div>
                          <div>
                            <label>Sanity</label>
                            <input class="profile-input" style="width: 40px" type="number" name="system.characteristics.currentsan.value" value="{{system.characteristics.currentsan.value}}" />
                            <input class="profile-input" style="width: 40px" type="number" name="system.characteristics.maxsan.value" value="{{system.characteristics.maxsan.value}}" />
                          </div>
                        </div>
                      </div>
                    </section>

                    <section class="status" style="width: 150px; display: inline-block;">
                      <h2>Status</h2>
                      <label><input type="checkbox" name="system.characteristics.tempinsan" {{checked system.characteristics.tempinsan}} /> Temporary Insanity</label>
                      <label><input type="checkbox" name="system.characteristics.indefinsan" {{checked system.characteristics.indefinsan}} /> Indefinite Insanity</label>
                      <label><input type="checkbox" name="system.characteristics.majwound" {{checked system.characteristics.majwound}} /> Major Wound</label>
                      <label><input type="checkbox" name="system.characteristics.uncon" {{checked system.characteristics.uncon}} /> Unconscious</label>
                      <label><input type="checkbox" name="system.characteristics.dying" {{checked system.characteristics.dying}} /> Dying</label>
                    </section>

                    <section class="combat">
                      <h2>Combat</h2>

                      <div class="stat">
                        <div class="stat-label">Movement</div>
                        <input type="number" name="system.characteristics.move.value" value="{{system.characteristics.move.value}}" />
                      </div>

                      <div class="stat">
                        <div class="stat-label">Build</div>
                        <input type="number" name="system.characteristics.build.value" value="{{system.characteristics.build.value}}" />
                      </div>

                      <div class="stat">
                        <div class="stat-label">Dodge</div>
                        <input type="number" name="system.characteristics.dodge.value" value="{{system.characteristics.dodge.value}}" />
                      </div>

                      <div class="stat">
                        <div class="stat-label">Damage Bonus</div>
                        <input type="number" name="system.characteristics.dmgbonus.value" value="{{system.characteristics.dmgbonus.value}}" />
                      </div>
                    </section>
                    <div class="page-corner prev-page" data-action="prevPage"></div>
                    <div class="page-corner next-page" data-action="nextPage"></div>
                  </section>
                </div>

                <div class="back">
                  <section class="">
                  </section>
                </div>
              {{/if}}
              {{#if (eq page.index 4)}}

              
                <div class="page-spine draggable"></div>

                <div class="front">
                  <section class="">
                    <div class="page-corner prev-page" data-action="prevPage"></div>
                    <div class="page-corner next-page" data-action="nextPage"></div>
                  </section>
                </div>

                <div class="back">
                  <section class="">
                  </section>
                </div>
              {{/if}}
              {{#if (eq page.index 5)}}
              
                <div class="page-spine draggable"></div>

                <div class="front">
                  <section class="">
                    <div class="page-corner prev-page" data-action="prevPage"></div>
                    <div class="page-corner next-page" data-action="nextPage"></div>
                  </section>
                </div>

                <div class="back">
                  <section class="">
                  </section>
                </div>
              {{/if}}
              {{#if (eq page.index 6)}}
            
                <div class="page-spine draggable"></div>

                <div class="front">
                  <section class="">
                    <div class="page-corner prev-page" data-action="prevPage"></div>
                    <div class="page-corner next-page" data-action="nextPage"></div>
                  </section>
                </div>

                <div class="back">
                  <section class="">
                  </section>
                </div>
              {{/if}}
              {{#if (eq page.index 7)}}
              
                <div class="page-spine draggable"></div>

                <div class="front">
                  <div class="folder-front draggable">
                  </div>
                  <div class="page-corner prev-page" data-action="prevPage"></div>
                </div>

                <div class="back">
                  <section class="folder-back draggable">
                  </section>
                </div>
              {{/if}}

            </section>
          {{/each}}
        </div>
      

  </div>
</div>
