
<div class="investigator-sheet">

    <div class="folder-shell">

        <div class="folder-close" data-action="closeFolder">CLOSE</div>

        <div class="page-stack">
          {{#each pages as |page|}}
            <section class="page {{this.state}}" data-index="{{this.index}}">
              
              {{#if (eq page.index 0)}}

                <div class="front">
                  <div class="folder-front" data-action="nextPage">
                    <div class="top-secret-stamp">TOP SECRET</div>
                    <div class="folder-label">{{actor.name}}</div>
                    <div class="open-folder-hitbox" >OPEN</div>
                  </div>
                </div>

                <div class="back">
                  <div class="folder-back"></div>
                </div>
              {{/if}}

              {{#if (eq page.index 1)}}

                <div class="front">
                  <section class="paper">
                    <label style="color:black; padding: 20px; font-family: "Special Elite";">Ministry of Paranormal Suppression</label>
                    <h3 style="padding-left: 20px; color: black; font-family: "Special Elite"">INVESTIGATOR DOSSIER</h3>
                    <div class="page-corner prev-page" data-action="prevPage"></div>
                    <div class="page-corner next-page" data-action="nextPage"></div>
                  </section>
                </div>

                <div class="back">
                  <section class="paper">
                    <p>Back of page {{this.index}}</p>
                  </section>

                </div>
              {{/if}}
                            
              {{#if (eq page.index 2)}}
                <div class="front">
                  <section class="paper">
                <!-- PAGE 1 — PROFILE -->
                  <section class="profile-sections" style="padding-top: 15px;">
                    <label class="profile-heading">Investigator Profile:</label>
                    <div class="profile-label" style="gap: 5px; margin-top: 20px;">
                      <label for="first" style="min-width: 150px">First Name</label>
                      <label for="second" style="min-width: 150px">Last Name</label>
                      <label for="third" style="min-width: 50px;">Age</label>
                      <label for="forth" style="min-width: 50px">Sex</label>
                    </div>

                    <input class="profile-input" style="width: 150px" type="text" name="system.investigator.firstname" value="{{system.investigator.firstname}}" />
                    <input class="profile-input" style="width: 150px" type="text" name="system.investigator.lastname" value="{{system.investigator.lastname}}" />
                    <input class="profile-input" style="width: 50px; transform: translateY(-2px); padding-bottom: 5px;" type="text" name="system.investigator.age" value="{{system.investigator.age}}" />
                    <input class="profile-input" style="width: 50px" type="text" name="system.investigator.pronouns" value="{{system.investigator.pronouns}}" />

                    <div class="profile-label" style="gap: 5px; margin-top: 10px;">
                      <label for="first" style="width: 150px">Occupation</label>
                      <label for="second" style="width: 125px">Residence</label>
                      <label for="third" style="width: 125px">Birthplace</label>
                    </div>
                    
                    <input class="profile-input" style="width: 150px" type="text" name="system.investigator.occupation" value="{{system.investigator.occupation}}" />
                    <input class="profile-input" style="width: 125px" type="text" name="system.investigator.residence" value="{{system.investigator.residence}}" />
                    <input class="profile-input" style="width: 125px" type="text" name="system.investigator.birthplace" value="{{system.investigator.birthplace}}" />
                  </section>
                  <section class="profile-sections">
                    <label class="profile-label">Appearance and Traits:</label>
                    <textarea class="profile-input" style="width: 420px; height: 62px; resize: none"></textarea>
                  </section>
                  <section class="profile-sections">
                    <label class="profile-label">Ideology and Beliefs:</label>
                    <textarea class="profile-input" style="width: 420px; height: 62px; resize: none"></textarea>
                  </section>
                  <section class="profile-sections">
                    <label class="profile-label">Scars and disorders:</label>
                    <textarea class="profile-input" style="width: 420px; height: 62px; resize: none"></textarea>
                  </section>
                  <section class="profile-sections">
                    <label class="profile-label">Significant persons / locations:</label>
                    <textarea class="profile-input" style="width: 420px; height: 62px; resize: none"></textarea>
                  </section>
                  <section class="profile-sections">
                    <label class="profile-label">Strange Encounters:</label>
                    <textarea class="profile-input" style="width: 420px; height: 62px; resize: none"></textarea>
                  </section>
                  <div class="page-corner prev-page" data-action="prevPage"></div>
                  <div class="page-corner next-page" data-action="nextPage"></div>
                </section>
                </div> 

                <div class="back">
                  <section class="paper">
                  </section>
                </div> 

              {{/if}}
              {{#if (eq page.index 3)}}

                <div class="front">
                  <section class="paper">
                    <div class="page-corner prev-page" data-action="prevPage"></div>
                    <div class="page-corner next-page" data-action="nextPage"></div>
                  </section>
                </div>

                <div class="back">
                  <section class="paper">
                  </section>
                </div>
              {{/if}}
              {{#if (eq page.index 4)}}

                <div class="front">
                  <section class="paper">
                    <div class="page-corner prev-page" data-action="prevPage"></div>
                    <div class="page-corner next-page" data-action="nextPage"></div>
                  </section>
                </div>

                <div class="back">
                  <section class="paper">
                  </section>
                </div>
              {{/if}}
              {{#if (eq page.index 5)}}

                <div class="front">
                  <section class="paper">
                    <div class="page-corner prev-page" data-action="prevPage"></div>
                    <div class="page-corner next-page" data-action="nextPage"></div>
                  </section>
                </div>

                <div class="back">
                  <section class="paper">
                  </section>
                </div>
              {{/if}}
              {{#if (eq page.index 6)}}

                <div class="front">
                  <section class="paper">
                    <div class="page-corner prev-page" data-action="prevPage"></div>
                    <div class="page-corner next-page" data-action="nextPage"></div>
                  </section>
                </div>

                <div class="back">
                  <section class="paper">
                  </section>
                </div>
              {{/if}}
              {{#if (eq page.index 7)}}

                <div class="front">
                  <div class="folder-front">
                  </div>
                  <div class="page-corner prev-page" data-action="prevPage"></div>
                </div>

                <div class="back">
                  <section class="folder-back">
                  </section>
                </div>
              {{/if}}

            </section>
          {{/each}}
        </div>
      

  </div>
</div>
